.container {
    width: 100vw;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent {
    width: 85.7%;
    display: flex;
    justify-content: space-between;
}
.Nav_Left {
    display: flex;
    align-items: center;
    gap: 50px;
}
.Nav_Left img {
    height: 20px;
}
.Left_Wrapper {
    display: flex;
    gap: 20px;
}
.Left_Wrapper div {
    color: #000000E6;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    display: grid;
    place-content: center;
}
.Nav_Right {
    display: flex;
    gap: 15px;
    align-items: center;
}
.Right_Input {
    height: 80%;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #EAEAEA;
    padding: 0 0 0 15px;
    border-radius: 6px;
}
.Right_Input svg {
    color: rgba(0,0,0,.5);
}
.Right_Input input {
    height: 100%;
    outline: none;
    border: none;
    width: 250px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    background: #EAEAEA;
    color: rgba(165, 81, 81, 0.5);
}
.Right_Input input:focus {
    outline: none;
    border: none;
}
.Nav_Right svg {
    font-size: 20px;
}
.Right_Divider {
    color:rgba(0,0,0,.5);
}