.main {
  display: flex;
  width: 100%;
  font-family: "Montserrat", "sans-serif";
  margin-top: 8rem;
  margin-bottom: 2rem;
  text-align: center;
}
.submain {
  width: 50%;
  height: 80vh;
  background-image: linear-gradient(0deg, #fff4c4, #fff);
  display: flex;
  flex-direction: column;
}

.loginP {
  color: gray;
  margin-bottom: 50px;
  font-size: 18px;
}
