.container {
  margin-top: 160px;
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.parent {
  width: 85.7%;
  /* background-color: turquoise; */
  display: flex;
  padding-top: 20px;
}
.parent > div {
  flex: 1;
}
.parent_right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product_brand {
  font-size: 18px;
  color: #4f5362;
  font-weight: 600;
  /* letter-spacing: 0.1px; */
}
.product_name {
  font-size: 16px;
  color: #737373;
  /* letter-spacing: 0.1px; */
}
.product_price {
  font-size: 24px;
  color: #0f0f0f;
  font-weight: 600;
}
.striked_off {
  font-size: 15px;
  color: #949494;
  text-decoration: line-through;
}
.discount {
  font-size: 17px;
  color: #00b852;
}
.taxes {
  font-size: 13px;
  color: #949494;
  /* letter-spacing: 0.1px; */
}
.product_category {
  display: flex;
  gap: 20px;
}
.product_category > div:nth-child(1) {
  background-color: #525252cc;
  color: white;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.product_category > div:nth-child(2) {
  background-color: white;
  color: black;
  border: 1px solid #525252cc;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.tribe_member::before {
  content: "";
  height: 3px;
  background-color: #eee;
  width: 80%;
  display: block;
  margin-bottom: 10px;
}
.tribe_member {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
}
.tribe_member::after {
  content: "";
  height: 3px;
  background-color: #eee;
  width: 80%;
  display: block;
  margin-top: 10px;
}
.tribe_member div {
  color: #42a2a2;
  cursor: pointer;
}
.size_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.size_wrapper span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
}
.size_wrapper span:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
  color: #42a2a2;
  text-decoration: underline;
  cursor: pointer;
}
.size {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 10px 0;
}
.size div {
  flex: 1;
  aspect-ratio: 1;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border: 2px solid transparent;
}
.size div:hover {
  border: 2px solid #42a2a2;
}
.cart_menu {
  width: 80%;
  display: flex;
  gap: 8px;
  margin: 10px 0 0 0;
}
.cart_menu div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
}
.cart_menu div:nth-child(1) {
  background: #ffd84d;
  color: #303030;
  font-size: 15px;
  font-weight: 600;
}
.cart_menu div:nth-child(2) {
  border: 1px solid #d6d6d6;
  color: #949494;
  font-size: 15px;
  font-weight: 600;
}
.product_accordion {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accordion_header::before {
  content: "";
  /* width: 90%; */
  background: #eee;
  height: 3px;
  display: block;
  margin-bottom: 10px;
}
.accordion_header {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}
.accordion_header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion_header div span {
  font-size: 16px;
}
.accordion_desc {
  font-size: 13px;
  font-weight: 600;
  color: #606060;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.accordion_desc > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.accordion_desc img {
  height: 15px;
}
.coupon_code {
  color: black;
}
.desc_title,
.desc_commodity,
.product_category {
  font-weight: 400;
  font-size: 14px;
}
.desc_specifications {
  color: #42a2a2;
}
.accordion_desc ul li {
  font-weight: 400;
  font-size: 14px;
}
.desc_pincode {
  border: 1px solid #737373;
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.desc_pincode input::-webkit-outer-spin-button,
.desc_pincode input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.desc_pincode input,
.desc_pincode input:focus,
.desc_pincode input:active {
  border: none;
  outline: none;
  padding: 10px 0 10px 20px;
  background: white;
}
.desc_pincode span {
  color: #42a2a2;
  text-decoration: underline;
  cursor: pointer;
}
